#main-page .notes-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#main-page .notes-item {
  -webkit-box-shadow: 0 0 10px #948888;
          box-shadow: 0 0 10px #948888;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  border-radius: 20px;
  width: 25%;
  background-color: #f3f3f3;
}

#main-page .pencil-icon {
  pointer-events: none;
  fill: white;
  width: 25px;
}

#main-page .date {
  font-size: 15px;
  font-style: italic;
  color: #58616e;
}

#main-page .notes-footer {
  margin-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .edited-props {
  display: block;
}

#main-page .notes-edit-section {
  font-size: 18px;
  color: #413d28;
  outline: none;
  background-color: transparent;
  border: none;
  resize: none;
}

#main-page .btn-removeNotes {
  outline: none;
  background-color: transparent;
  border: none;
}

#main-page .btn-removeNotes:hover {
  -webkit-animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
          animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

#main-page .remove-icon,
#main-page .done-icon {
  width: 35px;
  height: 35px;
}

#main-page .notes-buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-page .btn-editNote {
  outline: none;
  background-color: transparent;
  border: none;
}

#main-page .btn-editNote:hover {
  -webkit-animation: draw 1.82s both;
          animation: draw 1.82s both;
}

@-webkit-keyframes draw {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes draw {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

#main-page .preloader-content {
  border-radius: 20px;
  padding: 0;
}
/*# sourceMappingURL=mainPage.css.map */