#main-page {
  .notes-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .notes-item {
    box-shadow: 0 0 10px rgb(148, 136, 136);
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border-radius: 20px;
    width: 25%;
    background-color: #f3f3f3;
  }
  .pencil-icon {
    pointer-events: none;
    fill: white;
    width: 25px;
  }
  .date {
    font-size: 15px;
    font-style: italic;
    color: #58616e;
  }

  .notes-footer {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .edited-props {
    display: block;
  }
  .notes-edit-section {
    font-size: 18px;
    color: #413d28;
    outline: none;
    background-color: transparent;
    border: none;
    resize: none;
  }
  .btn-removeNotes {
    outline: none;
    background-color: transparent;
    border: none;
    &:hover {
      animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
      perspective: 1000px;
    }
  }

  .note-icon,
  .btn-note {
    width: 35px;
    height: 35px;
    outline: none;
    background-color: transparent;
    border: none;
  }
  .notes-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.btn-remove-selected {
  margin: 0 auto;
  font-size: 17px;
  width: 220px !important;
  background-color: #fff !important;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  box-shadow: 0 0 15px rgba(128, 128, 128, 0.486);
}
@media (max-width: 575.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .notes-item {
    width: unset !important;
  }
  .help-section {
    display: none;
  }
  .help-section,
  .btn-addNotes {
    position: unset !important;
  }
}
