#header {
    margin: 1rem 0;
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .controllers {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .section-selectColors,
    .btn-addNotes {
        margin: 1rem 0;
    }
    .btn-color {
        margin: 0 0.5rem;
        width: 25px;
        height: 25px;
        border-radius: 50px;
        border: none;
    }

    .color-1 {
        background-color: #fddb3a;
    }
    .color-2 {
        background-color: #52575d;
    }
    .color-3 {
        background-color: #ff4b5c;
    }
    .color-4 {
        background-color: #5eaaa8;
    }
    .color-5 {
        background-color: #d9adad;
    }

    .section-selectColors {
        display: flex;
        justify-content: center;
    }
}

#main-page {
    .notes-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .notes-item {
        box-shadow: 0 0 10px rgb(148, 136, 136);
        position: relative;
        margin: 1rem;
        padding: 1rem;
        border-radius: 20px;
        width: 25%;
        background-color: #fddb3a;
    }
    .pencil-icon {
        pointer-events: none;
        fill: white;
        width: 25px;
    }
    .date {
        font-size: 15px;
        font-style: italic;
        color: #58616e;
    }

    .notes-footer {
        margin-top: 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .edited-props {
        display: block;
    }
    .notes-edit-section {
        width: 87%;
        font-size: 18px;
        color: #413d28;
        outline: none;
        background-color: transparent;
        border: none;
        resize: none;
    }
    .btn-removeNotes {
        position: absolute;
        right: 0.1rem;
        top: 0.5rem;
        outline: none;
        background-color: transparent;
        border: none;
    }
    .remove-icon {
        width: 35px;
        height: 35px;
    }
}
